.LandingPage{
    /* position: relative; */
    margin: auto 4%;
    /* display: flex; */
    /* justify-content: space-around; */
    /* align-items: center; */
    /* width: 100vh; */
    /* padding: 2rem; */
    /* height: 100vh; */
    /* padding-bottom: 200px; */
}
.lpfirst{

    z-index: 200;
    background-color: #F7FFE5;
    /* color: pink; */
    width: 50%;
    height: 50em;
    /* padding: 35rem; */
    /* position: relative; */
    float: left; 
}
.circle{
    z-index: 1;
    position: absolute;
    top: 8%;
    left: 18%;
    background-color: #E1ECC8;
    height: 250px;
    width: 250px;
    border-radius: 58% 42% 55% 45% / 43% 57% 43% 57%;
}
.smallcir1,.smallcir2,.smallcir3,.smallcir4{
    z-index: 500;
    position: absolute;
    top: 17%;
    left: 22%;
    background-color: red;
    height: 35px;
    width: 35px;
    border-radius: 64% 36% 46% 54% / 58% 63% 37% 42% ;
}
.smallcir2{
    background-color: red;
    top: 19%;
    left: 22%;
}
.smallcir3{
    background-color: black;
    top: 17%;
    left: 27%;
}
.smallcir4{
    background-color: purple;
    top: 20%;
    left: 27%;
}

.lpsecond{
        background-color: #E1ECC8;
        width: 50%;
        float: right;
        height: 50em;
        /* padding: 35rem;  */
        /* height: 40em; */
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
}
.imgs {
    position: absolute;
    /* z-index: 100; */
    top: 350px;
    left: 300px;
    width: 130px;
}

.quote{
    width: 200px;
    font-weight: 200;
    font-size: 3rem;
    font-family: Montserrat Bold;
    display: block;
    padding-bottom: 6px;
}
span{
    font-size: 2rem;
    font-family: Montserrat SemiBold;
}
.bttns{
    background-color: black;
    color: #E1ECC8;
    padding: 1rem;
    border-radius: 0.5rem;
    margin-left: -100px;
}
html{
    scroll-behavior: smooth;
}
.lpfirst{
    --s: 200px; /* control the size */
    --c2:  #E1ECC8;
    --c3: #F7FFE5;
    --c1: #A0C49D;
    
    background:
      repeating-conic-gradient(from 30deg,#0000 0 120deg,var(--c3) 0 180deg) 
       calc(.5*var(--s)) calc(.5*var(--s)*0.577),
      repeating-conic-gradient(from 30deg,var(--c1) 0 60deg,var(--c2) 0 120deg,var(--c3) 0 180deg);
    background-size: var(--s) calc(var(--s)*0.577);
  }
  